data
data-raw
models
.venv
reports
analysis/_old
notebooks/.ipynb_checkpoints/
src/helpers/__pycache__/
src/helpers/_old
*nbconvert*
notebooks/prototyping/models
notebooks/prototyping/experiment_outputs
notebooks/prototyping/_old
notebooks/prototyping/*_experiment
DIARY.md
TODO.md
_old


*.csv
METHODS_NOTES.md
PROGRESS.md
PROJECT_PLAN.md